out/
src/out/
peacecollection-data/
cookies.txt
*.class
.idea/
*.iml
*.lnk
.env
.env.*
src/Diukai/
src/peaceCollection
src/Greeter.java
src/SnakeGame.java
web/images/dark-model-three.jpg
web/images/dark-model-two.jpg
web/images/dera-kaftan-blue.jpg
web/images/dera-kaftan-red.jpg
web/images/pexels-kaftan.jpg
web/images/pexels-print-dress.jpg
